/*
CSS Document: AccessMCD - Good to Gold Blue
Author - Stephen Pfaff
Date - April 2012
*/

/*PAGE THEME*/
#headerwrap { background-color: #FFF !important; }
/*#headerwrapper { background-color:#6f7cb6 !important; }
#headerwrapper .active { color:#6f7cb6 !important; }*/
#headerwrapper .pageheading #globaladtext{
    background:url("/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/gadbg.png") no-repeat scroll top transparent !important;
}
#pagecontentwrapper a { color:#6f7cb6; }
#accordion_top a, a.contentlinkbold { color:#6f7cb6; }
#accordion_top a:hover, a:hover { color:#6f7cb6; }

/*CONTENT WRAPPERS*/
#headerwrap { background-color:#dedede; } 

/*HEADER NAVIGATION*/
#headerwrapper .top-nav .topnavigationitems ul li a.active { color:#6f7cb6 !important; }
#headerwrapper .top-nav .topnavigationitems ul li a:hover { color:#6f7cb6 !important; }

/*HEADER COMPONENTS*/
.si_slider_box {background:#6f7cb6 !important;}
#bookmarksTab option.personal, hr { color: #6f7cb6 !important; }  
#bookmarksTab option.global, hr { color: #000000; }

/*NAVIGATION FORMATTING*/
#nav ul li ul {border:1px solid #6f7cb6 !important;}
#nav ul li ul li {border-bottom:1px solid #6f7cb6 !important;}
#nav ul li ul li a:hover {background-color:#6f7cb6 !important;}
#nav-icons ul li ul {border:1px solid #6f7cb6 !important;}
#nav-icons ul li ul li {border-bottom:1px solid #6f7cb6 !important;}
#nav-icons ul li ul li a:hover {background-color:#6f7cb6 !important;}

/* topNavMenu */
UL#navMenu {
    BORDER-RIGHT: #000000 0px solid; 
    BORDER-TOP: #000000 0px solid; 
    BORDER-LEFT: #000000 0px solid;
    BORDER-BOTTOM: #000000 0px solid; 

    PADDING-RIGHT: 0px; 
    PADDING-TOP: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px;

    height: 67px;

    MARGIN: 0px;  
    FLOAT: left;  
    POSITION: relative; 
    WIDTH: 100%; 
    ZOOM: 1;  
    LIST-STYLE-POSITION: outside; 
    LIST-STYLE-IMAGE: none; 
    LIST-STYLE-TYPE: none;
    
    background: #a9a7ab;
    
    border-radius:0 6px 6px 0 !important;
    -moz-border-radius: 0 6px 6px 0 !important;
    -webkit-border-radius: 0 6px 6px 0 !important;
    behavior: url(/etc/designs/mcd/accessmcd/corelibs/htc/PIE.htc);
    
    z-index:2;
}
UL#navMenu LI {
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    PADDING-TOP: 0px;
    BORDER-RIGHT: #6f7cb6 1px solid;
    FLOAT: left;    
    MARGIN: 0px; 

    height: 100%;
 
    width: 110px;   
}
UL#navMenu LI A {   
    position: relative;
    FONT-FAMILY: AkzidenzGrotesk, Arial, Helvetica, sans-serif; 
    FONT-SIZE: 15px;
    DISPLAY: block; 
    FONT-WEIGHT: bold;  
    CURSOR: pointer; 
    COLOR: #ffffff; 
    TEXT-DECORATION: none;
    height: 100%; 
    #height: 100%;
    overflow: hidden;
    height:67px !important;
    margin: 0 !important; padding: 0 !important;
}
UL#navMenu LI A:hover {
    BACKGROUND-COLOR: #6f7cb6; 
    TEXT-DECORATION: none; 
}
.mainItemTextPosition{
    position: absolute;
    bottom: 4px;
    left: 10px;
    width: 99px;
}
/**** Main Menu home link ****/
UL#navMenu LI#auNewHome {
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    PADDING-TOP: 0px;
    BORDER-RIGHT: #D26D15 0px solid;
    FLOAT: left;    
    MARGIN: 0px; 
    BACKGROUND: #D26D15;    
    width: auto; 
}
UL#navMenu LI#auNewHome A {
    BORDER-RIGHT: #D26D15 0px solid; 
    PADDING-RIGHT: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-BOTTOM: 0px; 
    PADDING-TOP: 0px;
    DISPLAY: block; 
    FONT-WEIGHT: bold; 
    CURSOR: pointer; 
    COLOR: #ffffff; 
    TEXT-DECORATION: none; 
    bac: #D26D15;
    height: auto;   
}
UL#navMenu LI#auNewHome A:hover {
    BACKGROUND-COLOR: #D26D15; 
    TEXT-DECORATION: none; 
}
UL#navMenu LI#auNewHome img {
    border-style: none;
    display: block;
    height: 67px;
}

/**** Main menu mysites link ****/

UL#navMenu LI#li_mysite {
    BORDER-RIGHT: #6f7cb6 0px solid;    
}
UL#navMenu LI#li_mysite.tabHover {
    BORDER-RIGHT: #6f7cb6 1px solid;    
}
UL#navMenu LI#li_mysite img {
    border-style: none;
    height: auto;
}


/**** onHover styles ****/

UL#navMenu LI.tabHover {
    BACKGROUND-COLOR: #6f7cb6; 
    TEXT-DECORATION: none;  
    BORDER-RIGHT: #6f7cb6 1px solid;    
}
UL#navMenu LI.tabHover A {
    BACKGROUND-COLOR: #6f7cb6; 
    TEXT-DECORATION: none; 
}


/**** Sub menu styles ****/
UL#navMenu LI UL {
    PADDING: 0 !important;
    
    DISPLAY: none; 
    MARGIN: 0 !important;    
    WIDTH: 300px; 
    POSITION: absolute; 
    BACKGROUND-COLOR: #6f7cb6; 
    z-index:1000; 
}
UL#navMenu LI UL LI {
    border-bottom: 1px solid #6f7cb6 !important;
    padding: 1px 0 0 0 !important;
    margin: 0px !important;
}
UL#navMenu LI.tabHover UL {
    DISPLAY: block;
    border-right: 1px solid #6f7cb6 !important;
    border-bottom: 1px solid #6f7cb6 !important;
    border-left: 1px solid #6f7cb6 !important;
    margin: 0 !important; padding: 0 !important;
    height: auto;
}
UL#navMenu LI.tabHover UL LI {
    CLEAR: both; 
    DISPLAY: block; 
    WIDTH: 300px; 
    WHITE-SPACE: normal; 
    POSITION: relative; 
    BACKGROUND: #6f7cb6;

    height: 19px;

    BORDER-RIGHT: #6f7cb6 0px solid; 
    BORDER-TOP: #6f7cb6 0px solid;
    BORDER-LEFT: #6f7cb6 0px solid;
    BORDER-BOTTOM: #6f7cb6 0px solid; 
    
    z-index:0;
}
UL#navMenu LI.tabHover UL LI A {
    BORDER-RIGHT: #6f7cb6 0px solid; 
    BORDER-TOP: #6f7cb6 0px solid;
    BORDER-LEFT: #6f7cb6 0px solid;
    BORDER-BOTTOM: #6f7cb6 1px solid; 
    
    height: auto;
    /*#height: 23px;*/
    PADDING : 0px;

    DISPLAY: block; 
    BACKGROUND: #fff; 
    OVERFLOW: hidden;   
    WIDTH: 300px; 
    COLOR: #000; 
    FONT-SIZE: 13px;
    WHITE-SPACE: nowrap; 
    TEXT-DECORATION: none
}
UL#navMenu LI.tabHover UL LI A:hover {
    BACKGROUND: #6f7cb6; 
    color: #FFF;
    TEXT-DECORATION: none;  
}
.subItemTextPosition{
    position: absolute;
    top: 3px;
    left: 10px;
}
* html ul#navMenu iframe, * html ul.nav iframe {
    position: absolute;
    /* account for the border */
    left: -1px;
    right: -1px;
    top:-1px;
    z-index:0;
    filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); 
}

/* Top Navigation */
#nav ul li:hover{ background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px -34px !important; }

#nav ul li.active { background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px -68px !important; color:#fff; }
#nav ul li.active:hover { background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px -34px !important; color:#fff; }

#nav ul li.left_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 0 !important;  }
#nav ul li.left_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat  0 -34px !important; color:#FFF !important; }

#nav ul li.right_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat right 0 !important;  }
#nav ul li.right_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat  right -34px !important; color:#FFF !important; }

#nav .left_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 -68px !important; }
#nav .left_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 -34px !important;}

#nav .right_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat right -68px !important; }
#nav .right_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat right -34px !important;}

#nav ul li.both_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 0 !important;  }
#nav ul li.both_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat  0 -34px !important; color:#FFF !important; }

#nav .both_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 -68px !important; }
#nav .both_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat 0 -34px !important;}

#nav ul li.both_side700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_700.png) no-repeat 0 0 !important;  }
#nav ul li.both_side700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_700.png) no-repeat  0 -34px !important; color:#FFF !important; }

#nav .both_side_active700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_700.png) no-repeat 0 -68px !important; }
#nav .both_side_active700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_700.png) no-repeat 0 -34px !important;}

/*no rounded corners*/
#nav a.left_side_straight { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px 0 !important; border-left:1px solid #CCC; }
#nav a.left_side_straight:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat  -6px -34px !important; }
#nav .left_side_straight_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px -68px !important; }

#nav a.right_side_straight { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px 0 !important; border-right:1px solid #CCC; }
#nav a.right_side_straight:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat  -6px -34px !important; }
#nav .right_side_straight_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite.png) no-repeat -6px -68px !important; }

/* Top Navigation w/ Icons */
#nav-icons ul li:hover{ background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat -6px -45px !important; }

#nav-icons ul li.active { background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat -6px -90px !important; color:#fff; }
#nav-icons ul li.active:hover { background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat -6px -45px !important; color:#fff; }

#nav-icons ul li.left_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 0 !important;  }
#nav-icons ul li.left_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat  0 -45px !important; color:#FFF !important; }

#nav-icons ul li.right_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat right 0 !important;  }
#nav-icons ul li.right_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat  right -45px !important; color:#FFF !important; }

#nav-icons .left_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -90px !important; }
#nav-icons .left_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -45px !important;}

#nav-icons .right_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat right -90px !important; }
#nav-icons .right_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat right -45px !important;}

#nav-icons ul li.both_side { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 0 !important;  }
#nav-icons ul li.both_side:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat  0 -45px !important; color:#FFF !important; }

#nav-icons .both_side_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -90px !important; }
#nav-icons .both_side_active:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -45px !important;}

#nav-icons ul li.both_side700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 0 !important;  }
#nav-icons ul li.both_side700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat  0 -45px !important; color:#FFF !important; }

#nav-icons .both_side_active700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 -90px !important; }
#nav-icons .both_side_active700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 -45px !important;}

#nav-icons ul li.both_side700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 0;  }
#nav-icons ul li.both_side700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat  0 -45px; color:#FFF !important; }

#nav-icons .both_side_active700 { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 -90px; }
#nav-icons .both_side_active700:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons700.png) no-repeat 0 -45px;}
 
/*no rounded corners*/
#nav-icons a.left_side_straight { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 0 !important; border-left:1px solid #CCC; }
#nav-icons a.left_side_straight:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat  0 -45px !important; }
#nav-icons .left_side_straight_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -90px !important; }

#nav-icons a.right_side_straight { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 0 !important; border-right:1px solid #CCC; }
#nav-icons a.right_side_straight:hover { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat  0 -45px !important; }
#nav-icons .right_side_straight_active { background:transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/top_nav_sprite_icons.png) no-repeat 0 -90px !important; }
/* End Top Navigation */

/*LEFT NAVIGATION FORMATTING*/
.navitem a {color: #000000 !important;}
.leftnavigation a:hover {color: #000 !important;}
.leftnav { background-color:#6f7cb6 !important; }
.leftnavRowStart, .leftnavRowStart1, .leftnavRowStart2 { background-color: #999; }
.leftnav1hover,.leftnav1 { background-color:#6f7cb6 !important; }
.leftnav1Onhover a,.leftnav1On a { background-color:#6f7cb6 !important; }
.leftnav1Onhover a:visited,.leftnav1On a:visited, .leftnav1Onhover a:hover,.leftnav1On a:hover { background-color:#6f7cb6 !important; }
.leftnav2hover,.leftnav2 { background-color:#6f7cb6 !important; }
.leftnav2hover, .leftnav3hover, .leftnav4hover, .leftnav5hover, .leftnav6hover, .leftnav7hover { background-color:#6f7cb6 !important; }
.leftnav2Onhover,.leftnav2On { background-color:#6f7cb6 !important; }
.leftnav3hover,.leftnav3 { background-color:#6f7cb6 !important; }
.leftnav3spacerow { background-color:#6f7cb6 !important; }
.leftnav4hover,.leftnav4 { background-color:#6f7cb6 !important; }
.leftnav4spacerow { background-color:#6f7cb6 !important; }
.leftnav5hover,.leftnav5 { background-color:#6f7cb6 !important; }
.leftnav5spacerow { background-color:#6f7cb6 !important; }
.leftnav6hover,.leftnav6 { background-color:#6f7cb6 !important; }
.leftnav6spacerow { background-color:#6f7cb6 !important; }
.leftnav7hover,.leftnav7 { background-color:#6f7cb6 !important; }
.leftnav7spacerow { background-color:#6f7cb6 !important; }
.leftnavBorder *{background:#6f7cb6 !important;}
.leftnavBorder1{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;
  background:#6f7cb6
}
.leftnavBorder2{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;
  background:#6f7cb6 !important;}
.leftnavBorder3{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorder4{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorder5{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorderfg{
  background:#6f7cb6
}
.leftnavBorderSel{display:block}
.leftnavBorderSel *{
  background:#6f7cb6 !important;}
.leftnavBorderSel1{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;
  background:#6f7cb6 !important;}
.leftnavBorderSel2{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;
  background:#6f7cb6 !important;}
.leftnavBorderSel3{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorderSel4{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorderSel5{
  border-left:1px solid #6f7cb6 !important;
  border-right:1px solid #6f7cb6 !important;}
.leftnavBorderSelfg{
  background:#6f7cb6 !important;
}


/***START COMPONENT DESIGNS***/

/*SKIPTO COMPONENT*/
div.dropdown_header_active:hover,
div.dropdown_header:hover 
{
    color:#6f7cb6 !important; 
}
ul.dropdown_body li a:hover {
    color:#6f7cb6 !important;
}

/*TABBEDCONTENTPANEL COMPONENT*/
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
    color:#6f7cb6 !important;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a span {
    color:#6f7cb6 !important;
}
.ui-tabs .ui-tabs-nav li a:hover, 
.ui-tabs .ui-tabs-nav li a:hover span
{
    color:#6f7cb6 !important;
}
.ui-tabs .ui-tabs-nav li.first-tab-selected a span{
    color:#6f7cb6 ;
}
/*ACCORDION COMPONENT*/
#accordion a.active_widget {
    color: #6f7cb6 !important;
}
#accordion span.ui-icon {
    background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/bullets/blue_arrow_right.gif) no-repeat 0px 0px !important;
}
#accordion h4.ui-state-active span.ui-icon {
    background: transparent url(/etc/designs/mcd/accessmcd/g2g/g2g_blue/images/bullets/blue_arrow_down.gif) no-repeat 0px 0px !important;
}

/*EVERYTHING COMPONENT*/
#everythingmain {
    color:#4f4f4f;
}
.mainTitle { 
    color: #6f7cb6;
}
.siteTitle {
    color: #6f7cb6;
}
.sectionTitle { 
    color: #6f7cb6;
}

.sectionSubTitle {
    color: #6f7cb6;
}
  
.paragraphTitle {
    color: #6f7cb6;
}

.rtStyleGoToLink {
    color: #6f7cb6;
}

/*GMS COMPONENT*/
td.titleWithBlackBoldBorder { background-color: #6f7cb6 !important; }
.searchgms{ background-color:#6f7cb6 !important; }
#statusdiv { color: #6f7cb6 !important; }

/*GCDBASICSEARCH COMPONENT*/
.empDirBox .empDirboxHdBlack {color:#6f7cb6 !important;}

/*LETS TALK COMPONENT*/
.letsTalkBox .boxHdBlack{color:#6f7cb6 !important;}

/*QUICK POLL COMPONENT*/
.quickPollboxHdBlack{color:#6f7cb6 !important;}

/*TRENDING*/
.trending_text{background:url(/apps/mcd/components/content/trending/clientlibs/images/arrow_AU.jpg) left top no-repeat !important;}
.tagHdBlack{color:#6f7cb6 !important;}

/*Like*/
.likeCount {background:url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/like.jpg) left top no-repeat;padding-top:5px;height:25px;padding-left:30px;border:0;opacity:0.5;filter:alpha(opacity=50);display:block;}
.likeCount_fr {background:url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/jaime2.jpg) left top no-repeat;padding-top:3px;height:25px;padding-left:42px;border:0;opacity:0.5;filter:alpha(opacity=50);display:block;}
.likePage {padding-left: 20px; background: url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/smiley44.jpg) -4px -4px no-repeat;}
/*pagecomment Like*/
.reply-img
{
    background:url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/like.jpg) left top no-repeat;
    border:0;
    height: 25px;
    opacity:0.5;
    width: 25px;
    filter:alpha(opacity=50);
    text-indent:-9999px;
    padding-left:16px;
    vertical-align: middle;
}


.reply-img_fr
{
    background:url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/jaime2.jpg) left top no-repeat;
    border:0;
    height: 25px;
    opacity:0.5;
    width: 40px;
    filter:alpha(opacity=50);
    text-indent:-9999px;
    padding-left:16px;
    vertical-align: middle;
}

.replydiv form {float: inherit;}

.reply-smile-img {padding-left: 20px; background: url(/etc/designs/mcd/accessmcd/g2g/au_blue/images/smiley44.jpg) -4px -4px no-repeat; display: inherit; height: 16px;}

/***END COMPONENT DESIGNS***/