/* Style overwrites for printing output. */
body {margin: 0 !important;}

#printpreview {display: block;}

.mainBody {display:none !important;}
#logo_t {display: none !important;}
#bread_tnav_cntr {display: none !important;}
.sitefooter .contentlinkbold {display: none !important;}