.toggleButton {border:0px;}
.toggleButton a span{float: left;height: 28px;font:normal 14px Arial, Helvetica, sans-serif;margin-left: 14px;padding-right: 14px;text-align: center;text-decoration: none;width: auto;line-height: 28px;cursor:pointer;}

.toggleButton a span { font: bold 12pt Arial, Helvetica, Verdana; text-transform: uppercase; color:#333333}
.toggleButton a:hover span{color:#9e1b20}

   