div.sitemap div.linkcontainer {
    margin:1em 0 0 0;
    text-align:left;
}
div.sitemap div.linkcontainer div.linkcontainer {
    padding-left: 20px
}

div.sitemap div.link {
    padding:0 0 10px 10px;
    background:url(images/bullet3.gif) no-repeat;
    border-bottom: dotted 1px black;
    margin:0 0 5px 0;
}

div.sitemap div.link a {
    background:url(images/bullet4.gif) 0 0 no-repeat;
    font:normal 13px Arial;    
    padding:0 0 10px 18px;
}

div.sitemaptitle {
    color:#000000;
    font-size:13px;
    font-weight:bold;
    line-height:18px;
    text-align:left;
}