/* Top Navigation menu spacing fix */
#div_topnav ul {
    z-index: 100 !important;
}
#nav {
    z-index: 100 !important;
}

.topnavigation #nav a {
    padding: 9px 0px !important;
}

.topnavigation #nav ul li ul li a {
    padding: 9px !important;
    text-align: left !important;
}